<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Cucumber Test Suite">
    <test name="Cucumber Tests">
        <parameter name="cucumber.options" value="--tags @HomeTask"/>
        <classes>
            <class name="runner.TestRunner"/>
        </classes>
    </test>
</suite>